.form {
  height: 48px;
  display: flex;
  width: fit-content;
}
.input {
  border: 1px solid rgb(234, 232, 232);
  border-radius: 25px;
  width: max-content;
min-width: 270px;
  height: 48px;
  color: rgba(200, 201, 203, 1);
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 8px;
}
.button {
  background-color: rgba(23, 175, 38, 1);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  padding-block: 0;
  padding-inline: 0;
}
